header a {
    color: #D5D6D7;
    text-decoration: none;
    
}

header a+a{
	margin-left: 100px;
}

header a:hover 
{
     color:#ffffff; 
     text-decoration:none; 
     cursor:pointer;  
}
header {
	text-decoration-color: white;
	text-align: center;
    background: #24292E;
    font-size: 20px;
    font-family: Arial;
    margin: -16px auto 18px;
    overflow: hidden;
}