<!DOCTYPE html>
<html>
<head>
	<title>
		About Us
	</title>
  <link rel="stylesheet" type="text/css" href="static/css/footer.css">
  <link rel="stylesheet" type="text/css" href="static/css/header.css">
  <link rel="stylesheet" type="text/css" href="static/css/centralize.css">
  <link rel="stylesheet" type="text/css" href="static/css/hrefinsection.css">
</head>
<body>
<header>
<p>
  <a href="index">Homepage</a>
    <a href="contact">Contact Us</a>
    <a href="about">About Us</a>
</p>
</header>
<h1 class="centralize">
	Something About Us!
</h1>
<section>
<p>
	We are the biggest blog community in the internet. Those five blogs are the best papers among one million blogs submitted to competition.
</p>
</section>
<img src="static/dragonball_super.jpg" style="display: block; margin-left: auto; margin-right: auto; width:56%;height:50%;" align="centralize">
<footer class="footer1">
<p>
  <a href="index">Homepage</a>
    <a href="contact">Contact Us</a>
    <a href="about">About Us</a>
</p>
</footer>
</body>
</html>