<!DOCTYPE html>
<html>
<head>
	<title>
		Homepage
	</title>
	<link rel="stylesheet" type="text/css" href="static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/centralize.css">
	<link rel="stylesheet" type="text/css" href="static/css/hrefinsection.css">
</head>
<body>
<header>
<p>
  <a href="index">Homepage</a>
    <a href="contact">Contact Us</a>
    <a href="about">About Us</a>
</p>
</header>
<h1 style="text-align: center;">
	Articles
</h1>
<section>
<h2 class="centralize" >
	<a href="blog/8-experiments-in-motivation">8 Experiments in Motivation</a>
</h2>
<h2 class="centralize" >
	<a href="blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a>
</h2>
<h2 class="centralize" >
	<a href="blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a>
</h2>
<h2 class="centralize" >
	<a href="blog/training-to-be-a-good-writer">Training to Be a Good Writer</a>
</h2>
<h2 class="centralize" >
	<a href="blog/what-productivity-systems-wont-solve">What Productive Systems Won't Solve</a>
</h2>
</section>
<footer class="footer1">
<p>
  <a href="index">Homepage</a>
    <a href="contact">Contact Us</a>
    <a href="about">About Us</a>
</p>
</footer>
</body>

</html>